:root {
    --background-color: darkblue;
    --font-family: "comic sans ms", "comic sans";
}


nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
    font-family: var(--font-family);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: inherit;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: cornflowerblue;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside p {
    padding: 0;
    font-family: var(--font-family);
}

footer {
    margin-top: 15px;
    border: 1px solid black;
    text-align: center;
}